<%- include('../partials/header') %>

<h1>Flights Information</h1>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departing Date</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(elem => { %>
    <tr>
      <td><%= elem.airline %></td>
      <td><%= elem.airport %></td>
      <td><%= elem.flightNo %></td>
      <td><%= elem.departs.toLocaleString() %></td>
      <td><a href="/flights/<%= elem._id %> ">Details</a></td>
    </tr>

    <% }) %>
  </tbody>
</table>
<%- include('../partials/footer') %>
